@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";
* {
  box-sizing: border-box;
}

body {
  background: #fcce52;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
  background-color: #003b3e;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
}
.header__logo {
  justify-content: flex-start;
  margin-left: 30px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 680px;
}
.header__menu__page {
  font-family: "Anonymous Pro", monospace;
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 50px;
  cursor: pointer;
  font-size: 18px;
}
.header__menu__page:first-of-type {
  color: #00635a;
}
.header__menu__page li :hover {
  color: #00635a;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: -20px;
}
.pokemons-list li {
  list-style: none;
  margin: 15px;
  width: 200px;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcce52;
  box-shadow: -13px -13px 20px #ffd768, 13px 13px 20px #eea542;
  border-radius: 20px;
  width: 90%;
  height: 650px;
  flex-wrap: wrap;
  font-family: "Anonymous Pro", monospace;
}

.pokemon {
  background-color: #fdeec0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: -13px -13px 20px #ffd768, 13px 13px 20px #f8b85d;
}
.pokemon img:hover {
  width: 130px;
  height: 130px;
}
.pokemon p {
  margin-top: 35px;
}
.pokemon__name {
  margin: 15px;
}
.pokemon__category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.pokemon__category__one {
  background-color: #fe9801;
  margin-right: 7px;
  width: 80px;
  height: 35px;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.pokemon__category__two {
  background-color: #ccda46;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}
.buttons .button__next {
  transition: all 0.5s ease;
  margin-left: 10px;
  border-radius: 20px;
  width: 60px;
  height: 40px;
  line-height: 1;
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.buttons .button__next:hover {
  color: #f7451c;
  background-color: #fff;
}
.buttons .button__back {
  transition: all 0.5s ease;
  margin-left: 10px;
  border-radius: 20px;
  width: 60px;
  height: 40px;
  line-height: 1;
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.buttons .button__back:hover {
  color: #f7451c;
  background-color: #fff;
}

/*# sourceMappingURL=styles.css.map */
