@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";

@mixin buttons {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;

    .button__next {
      transition: all 0.5s ease;
      margin-left: 10px;
      border-radius: 20px;
      width: 60px;
      height: 40px;
      line-height: 1;
      background-color: transparent;
      border: 2px solid white;
      outline: none;
      color: white;
      font-size: 18px;
      font-weight: 400;

      cursor: pointer;
      &:hover {
        color: rgb(247, 69, 28);
        background-color: #fff;
      }
    }
    .button__back {
      transition: all 0.5s ease;
      margin-left: 10px;
      border-radius: 20px;
      width: 60px;
      height: 40px;
      line-height: 1;
      background-color: transparent;
      border: 2px solid white;
      outline: none;
      color: white;
      font-size: 16px;
      font-weight: 700;

      cursor: pointer;
      &:hover {
        color: rgb(247, 69, 28);
        background-color: #fff;
      }
    }
  }
}
