@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@mixin cards {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pokemons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: -20px;

    li {
      list-style: none;
      margin: 15px;
      width: 200px;
      height: 250px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  .all {
    display: flex;
    justify-content: center;
    align-items: center;

    &__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fcce52;
      box-shadow: -13px -13px 20px #ffd768, 13px 13px 20px #eea542;
      border-radius: 20px;
      width: 90%;
      height: 650px;
      flex-wrap: wrap;
      font-family: "Anonymous Pro", monospace;
    }
  }
}
