@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@mixin cards {
  .pokemons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    li {
      list-style: none;
      margin: 15px;
      width: 200px;
      height: 250px;
    }
  }

  .all {
    display: flex;
    justify-content: center;
    align-items: center;

    &__cards {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #fcce52;
      box-shadow: -13px -13px 20px #ffd768, 13px 13px 20px #eea542;
      border-radius: 20px;
      width: 90%;
      height: 650px;
      flex-wrap: wrap;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;

    &__next {
      margin-left: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #00776c;
      color: black;
      border: none;
      cursor: pointer;
    }
    &__next :hover {
      background-color: #ddd;
      color: black;
    }
    &__back {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #f7f7f7;
      color: black;
      border: none;
      cursor: pointer;
    }
    &__back :hover {
      background-color: #792585;
      color: white;
    }
  }
}
