@import "https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap";

@mixin header {
  header {
    background-color: #003b3e;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;

    &__logo {
      justify-content: flex-start;
      margin-left: 30px;

      &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        &__menu__page {
          font-family: "Anonymous Pro", monospace;
          color: white;
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          margin-left: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
