@import "header";
@import "cards";
@import "card";
@import "buttons";

* {
  box-sizing: border-box;
}

body {
  background: rgb(252, 206, 82);
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

@include header;
@include cards;
@include card;
@include buttons;
