* {
  box-sizing: border-box;
}

body {
  background: rgb(252, 206, 82);
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgb(0, 59, 62);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
}

// .all-cards {
//   background-color: pink;
// }

.logo {
  margin-left: 50px;
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & li {
    list-style: none;
    margin: 30px;
    width: 300px;
    height: 250px;
  }
}

.pokemon {
  background-color: rgb(253, 238, 192);
  display: flex;
  border-radius: 20px;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;

  &__cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 206, 82);
    box-shadow: -13px -13px 20px#FFD768, 13px 13px 20px rgb(238, 165, 66);
    border-radius: 20px;
    width: 90%;
    height: 600px;
    flex-wrap: wrap;
  }
}
